#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #f3f4f6;
}

img {
  width: 200px;
}

.card {
  border: 1px solid;
}

.card:hover {
  /* border: 2px solid; */
  border-bottom: 2px solid;
  background-color: lightblue;
}
