@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

#root {
  margin: 0 auto;
  padding: 2rem;
  font-family: "Goldman", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.highlight {
  color: var(--highlight-color);
}

h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
}

p {
  margin: 0;
  font-size: 16px;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.scoreContainer p:first-child {
  border-bottom: 1px solid;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
  height: 220px;
}

.card {
  position: relative;
  max-width: 250px;
  border: 2px solid transparent;
  background-color: var(--cream-color);
  padding: 7px;
  border-radius: 7px;
  color: black;
  transition: border-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.card:hover {
  background-color: var(--blue-color);
  color: var(--cream-color);
  box-shadow: 0 0 10px 0px var(--blue-color);
  cursor: pointer;
}

.newCharacters {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & > button {
    background-color: var(--cream-color);
    color: black;
    border: 2px solid var(--cream-color);
    border-radius: 15px;
    font-family: inherit;
    font-size: 13px;
    cursor: pointer;
    padding: 7px 10px;
    font-weight: 400;
  }

  & > button:hover {
    background-color: var(--blue-color);
    color: var(--cream-color);
  }
}

@media (max-width: 560px) {
  #root {
    padding: 1rem;
  }

  header {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
  }

  h2 {
    font-size: 9px;
    padding: 2px;
  }

  img {
    height: 100px;
  }

  .cardContainer {
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 10px;
  }

  .card {
    padding: 5px;
  }
}

@media (hover: none) {
  .card:hover {
    background-color: var(--cream-color);
    color: black;
    border-color: initial;
    box-shadow: none;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.9),
      0 0 15px rgba(255, 215, 0, 0.6);
  }

  100% {
    text-shadow: none;
  }
}

.glow {
  animation: glow 1s ease-in-out;
}
